---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLastPublication } from "../repo/data";

const { entry } = await getLastPublication();

const showDate = (date: Date) => {
	return date.toLocaleString("es-es", {
		year: "numeric",
		month: "2-digit",
		day: "2-digit",
	});
};
---

<BaseLayout title={entry.data.title}>
	<article
		class="bg-white p-6 shadow-xl rounded-lg sm:max-w-lg sm:mx-auto sm:min-w-96"
	>
		<div class="mx-auto max-w-md">
			<div class="flex justify-end items-center gap-px">
				<p class="text-xs text-gray-500">
					<time
						datetime={showDate(entry.data.date)}
						title={entry.data.date.toLocaleDateString("es-es")}
						>{showDate(entry.data.date)}</time
					>
				</p>
				<icon>🌻</icon>
			</div>
			<div class="divide-y divide-gray-300/50">
				<div
					class="space-y-6 py-8 text-base leading-7 text-gray-600 leading-7"
					transition:animate="fade"
				>
					<p id="saludo">Hola mi amor ❤️!</p>
				</div>

				<footer class="flex justify-end pt-6 text-base font-semibold leading-7">
					<a
						href={`/words/${entry.slug}`}
						class="text-base text-sky-500 hover:text-sky-600"
					>
						Siguiente &rarr;
					</a>
				</footer>
			</div>
		</div>
	</article>
</BaseLayout>

<script>
	const box = document.getElementById("saludo");
	if (box != null) {
		const fechaActual = new Date();
		const horaActual = fechaActual.getHours();
		if (horaActual < 11) {
			box.innerText = "Buenos días mi amor ❤️!";
		}
	}
</script>
