---
interface Props {
  songs?: Song[];
}

interface Song {
  image?: string;
  url: string;
  text?: string;
}

const { songs } = Astro.props;
---

{
  songs && songs.length > 0 && (
    <div class="aspect-w-16 aspect-h-9 -mx-6 -mb-6 -mt-6 bg-black">
      <iframe
        class="rounded"
        src={songs[0].url}
        style="width:100%;aspect-ratio:16/9"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title={songs[0].text}
      />
    </div>
  )
}
