---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Escritos con amor" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<script>
			(function () {
				window.counterscale = {
					q: [["set", "siteId", "loquenopudedecirte"], ["trackPageview"]],
				};
			})();
		</script>
		<script
			id="counterscale-script"
			src="https://counterscale.elerickmontenegro.workers.dev/tracker.js"
			defer
			is:inline></script>
	</head>
	<body>
		<main
			class="flex min-h-screen flex-col justify-center overflow-hidden py-12 px-2 sm:py-12 custom-background"
		>
			<slot />
		</main>
		<style is:global>
			.custom-background {
				background-color: rgba(229, 229, 247, 0.6);
				background-image: linear-gradient(
						135deg,
						rgba(197, 197, 197, 0.6) 25%,
						transparent 25%
					),
					linear-gradient(225deg, rgba(197, 197, 197, 0.6) 25%, transparent 25%),
					linear-gradient(45deg, rgba(197, 197, 197, 0.6) 25%, transparent 25%),
					linear-gradient(
						315deg,
						rgba(197, 197, 197, 0.6) 25%,
						rgba(229, 229, 247, 0.6) 25%
					);
				background-position:
					4px 0,
					4px 0,
					0 0,
					0 0;
				background-size: 4px 4px;
				background-repeat: repeat;
			}
		</style>
	</body>
</html>
