---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Footer from "../components/Footer.astro";

interface Props {
  prev?: CollectionEntry<"words">;
  entry: CollectionEntry<"words">;
  next: CollectionEntry<"words"> | undefined;
}

const { entry, prev, next } = Astro.props;
---

<BaseLayout title={entry.data.title}>
  <!-- class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" -->
  <!-- class="bg-white p-6 shadow-xl sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10" -->
  <article
    class="bg-white p-6 shadow-xl rounded-lg sm:max-w-lg sm:mx-auto sm:min-w-96"
  >
    <div class="mx-auto max-w-md">
      <div class="divide-y divide-gray-300/50">
        <div
          class="space-y-6 py-8 text-base leading-7 text-gray-600 leading-7"
          transition:animate="fade"
        >
          <slot />
        </div>

        <Footer prev={prev} next={next} />
      </div>
    </div>
  </article>
</BaseLayout>
