---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  prevIsIndex?: boolean;
  prev?: CollectionEntry<"words">;
  entry: CollectionEntry<"words">;
  next: CollectionEntry<"words"> | undefined;
}

const { entry, prev, next, prevIsIndex } = Astro.props;
---

<BaseLayout title={entry.data.title}>
    <!--<div class="back absolute left-1/2 top-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />-->
    <div
      class="relative bg-white px-6 pb-8 pt-10 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
    >
      <div class="mx-auto max-w-md">
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
            <slot />
          </div>

          <div class="flex justify-between pt-8 text-base font-semibold leading-7">
            <div>
              {
                prev && (
                  <a href={prevIsIndex ? "/" : "/words/" + prev.slug} class="text-sky-500 hover:text-sky-600">&larr; Anterior</a>
                )
              }
            </div>

            {
              next && (
                <div>
                  <a href={`/words/${next.slug}`} class="text-sky-500 hover:text-sky-600">Siguiente &rarr;</a>
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
</BaseLayout>
